<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/client/css/style-preview-main.css" />
    <script src="./js/main.js" type="module" defer></script>
    <title>Style Preview</title>
  </head>
  <body>
    <header>
      <h1>Select Your Style</h1>
      <hr />
    </header>
    <main>
      <span id="numTemplates" style="display: none"><%= numTemplates %></span>
      <div id="main-content">
        <div id="template-choices">
          <div id="view-portfolio-btn">
            <button type="button" id="button">View Portfolio</button>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
